<div class="modal-header">
    <h4 class="modal-title">Configurar Sip</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <loading-component [searchWhat]="'Buscando Configurações Sip'" [searching]="searching"></loading-component>
    <div *ngIf="sipIn">
        <table class="table table-bordered table-sm alinhar-text-center">
            <tbody>
                <tr>
                    <th>DirectoryNumber</th>
                    <td>
                        <input type="text" [(ngModel)]="sipIn.DirectoryNumber" name="DirectoryNumber" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>AuthUserName</th>
                    <td>
                        <input type="text" [(ngModel)]="sipIn.AuthUserName" name="AuthUserName" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>AuthPassword</th>
                    <td>
                        <input type="text" [(ngModel)]="sipIn.AuthPassword" name="AuthPassword" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>ProxyServer</th>
                    <td>
                        <input type="text" [(ngModel)]="sipIn.ProxyServer" name="ProxyServer" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>RegistrarServer</th>
                    <td>
                        <input type="text" [(ngModel)]="sipIn.RegistrarServer" name="RegistrarServer" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>UserAgentDomain</th>
                    <td>
                        <input type="text" [(ngModel)]="sipIn.UserAgentDomain" name="UserAgentDomain" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>OutboundProxy</th>
                    <td>
                        <input type="text" [(ngModel)]="sipIn.OutboundProxy" name="OutboundProxy" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>OutboundProxy</th>
                    <td>
                        <input type="text" [(ngModel)]="sipIn.phyReferenceList" name="phyReferenceList" class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="setSipDiagnostics()" [class.disabled]="btnSipModificar">{{btnNome}}</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Fechar</button>
</div>