<div class="card" *ngIf="isModem">
    <div class="card-header">
        Ações
    </div>
    <div class="card-block">
        <div class="card-title">
            <ul class="list-unstyled">
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('reset-component','Reiniciar')" [disabled]="this.systemHolderService.isSearchingCheckOnline || this.systemHolderService.isSearchingIp">Reiniciar</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('factory-reset-component','Reset de Fábrica')" [disabled]="this.systemHolderService.isSearchingCheckOnline || this.systemHolderService.isSearchingIp">Reset de Fábrica</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('ping-component','Efetuar Ping')" [disabled]="this.systemHolderService.isSearchingCheckOnline || this.systemHolderService.isSearchingIp">Efetuar Ping</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('wifi-component','Configurar Wifi')" [disabled]="this.systemHolderService.isSearchingCheckOnline || this.systemHolderService.isSearchingIp">Configurar Wifi</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('auth-pppoe-component','Configurar Autenticação PPPoE')"
                        [disabled]="this.systemHolderService.isSearchingCheckOnline || this.systemHolderService.isSearchingIp">Configurar Autenticação PPPoE</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('sip-set-component','Configurar SIP')" [disabled]="this.systemHolderService.isSearchingCheckOnline || this.systemHolderService.isSearchingIp">Configurar SIP</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('service-class-component','Configurar ServiceClass')"
                        [disabled]="this.systemHolderService.isSearchingCheckOnline || this.systemHolderService.isSearchingIp">Configurar ServiceClass</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('dhcp-component','Configurar DHCP')" [disabled]="this.systemHolderService.isSearchingCheckOnline || this.systemHolderService.isSearchingIp">Configurar DHCP</button>
                </li>
            </ul>
        </div>
        <div class="card-text">

        </div>
    </div>
</div>