<loading-component [searchWhat]="'Buscando Wifi'" [searching]="searching"></loading-component>
<div *ngIf="wifi" style="text-align: center;">
    <div class="btn-group" role="group" aria-label="Configurações de rede Wifi">
        <button type="button" class="btn btn-secondary" (click)="clickchoosewifi(wifi[0], 2)">Rede 2.4GHz</button>
        <button type="button" class="btn btn-secondary" (click)="clickchoosewifi(wifi[1], 5)">Rede 5GHz</button>
    </div>
    <div *ngIf="wifichoose" class="form-margin-top">

        <form class="compact">
            <section class="form-block">
                <div class="form-group">
                    <label for="aForm_1" class="label-mg-left">Status de Operação</label>
                    <div class="select">
                        <select id="aForm_1" [(ngModel)]="wifichoose.operStatus" name="operStatus">
                            <option value="Up">Up</option>
                            <option value="Disabled">Down</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="aForm_2" class="label-mg-left">SSID</label>
                    <input type="text" id="aForm_2" placeholder="SSID" size="45" [(ngModel)]="wifichoose.ssid" name="ssid">
                </div>
                <div class="form-group">
                    <label class="label-mg-left" for="aForm_4">Senha</label>
                    <input type="text" id="aForm_4" placeholder="Senha" size="45" name="key" [(ngModel)]="wifichoose.key">
                </div>
                <div class="form-group" *ngFor="let cp of canaispossiveis; let i = index">
                    <label class="label-mg-left" for="aForm_3" *ngIf="i === 0">Canal</label>
                    <div class="select" *ngIf="cp.rede === redetypechoosed && cp.rede === 2">
                        <select id="aForm_3" name="cpossivel" [(ngModel)]="wifichoose.channel">
                            <option *ngFor="let c of cp.canais" [value]="c.canal">{{c.canal}}</option>
                        </select>
                    </div>
                    <div class="select" *ngIf="cp.rede === redetypechoosed && cp.rede === 5">
                        <select id="aForm_3" name="cpossivel" [(ngModel)]="wifichoose.channel">
                            <option *ngFor="let c of cp.canais" [value]="c.canal">{{c.canal}}</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-block" (click)="setWifiLista()" [class.disabled]="btnSetWifi">{{nomeBtn}}</button>
            </section>
        </form>

        <!-- <section class="form-block">
            <div class="form-group">
                <label>Status de Operação</label>
                <select class="form-control" [(ngModel)]="wifichoose.operStatus">
                    <option value="Up">Up</option>
                    <option value="Disabled">Down</option>
                </select>
            </div>
            <div class="form-group">
                <label>SSID</label>
                <input type="text" class="form-control" [(ngModel)]="wifichoose.ssid">
            </div>
            <div class="form-group" *ngFor="let cp of canaispossiveis; let i = index">

                <label *ngIf="i === 0">Canal</label>
                <select *ngIf="cp.rede === redetypechoosed && cp.rede === 2" class="form-control select-w" name="cpossivel" [(ngModel)]="wifichoose.channel">
                    <option *ngFor="let c of cp.canais" [value]="c.canal">{{c.canal}}</option>
                </select>

                <select *ngIf="cp.rede === redetypechoosed && cp.rede === 5" class="form-control select-w" name="cpossivel" [(ngModel)]="wifichoose.channel">
                    <option *ngFor="let c of cp.canais" [value]="c.canal">{{c.canal}}</option>
                </select>

            </div>
            <div class="form-group">
                <label>Senha</label>
                <input type="text" class="form-control" [(ngModel)]="wifichoose.key">
            </div>
        </section> -->

    </div>
</div>