<loading-component [searchWhat]="loadingMensagem" [searching]="searching"></loading-component>
<div *ngIf="wifi && !desabilitede" style="text-align: center;">
    <div class="btn-group" role="group" aria-label="Configurações de rede Wifi">
        <button type="button" class="btn btn-secondary" (click)="clickchoosewifi(2)" [disabled]="bloqbtnswitchrede">Rede
            2.4GHz</button>
        <button type="button" class="btn btn-secondary" (click)="clickchoosewifi(5)"
            [disabled]="!showbtnwifi5g && bloqbtnswitchrede">Rede 5GHz</button>
    </div>
    <div *ngIf="wifichoose" class="form-margin-top">
        <form class="compact">
            <section class="form-block">
                <div class="form-group">
                    <label for="aForm_1" class="label-mg-left">Status de Operação</label>
                    <div class="select">
                        <select id="aForm_1" (ngModelChange)="addToSet($event, 1)" [(ngModel)]="wifichoose.operStatus"
                            name="operStatus">
                            <option value="Up">Up</option>
                            <option value="Disabled">Down</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="aForm_2" class="label-mg-left">SSID</label>
                    <input type="text" id="aForm_2" (ngModelChange)="addToSet($event, 2)" placeholder="SSID" size="45"
                        [(ngModel)]="wifichoose.ssid" name="ssid">
                </div>
                <div class="form-group">
                    <label class="label-mg-left" for="aForm_4">Senha</label>
                    <input type="text" id="aForm_4" (ngModelChange)="addToSet($event, 3)" placeholder="Senha" size="45"
                        name="key" [(ngModel)]="wifichoose.key">
                </div>
                <div class="form-group" *ngFor="let cp of canaispossiveis; let i = index">
                    <label class="label-mg-left" for="aForm_3" *ngIf="i === 0">Canal</label>
                    <div class="select" *ngIf="cp.rede === redetypechoosed && cp.rede === 2">
                        <select id="aForm_3" name="cpossivel" (ngModelChange)="addToSet($event, 4)"
                            [(ngModel)]="wifichoose.channel">
                            <option *ngFor="let c of cp.canais" [value]="c.canal">{{c.canal}}</option>
                        </select>
                    </div>
                    <div class="select" *ngIf="cp.rede === redetypechoosed && cp.rede === 5">
                        <select id="aForm_3" name="cpossivel" (ngModelChange)="addToSet($event, 4)"
                            [(ngModel)]="wifichoose.channel">
                            <option *ngFor="let c of cp.canais" [value]="c.canal">{{c.canal}}</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-block" (click)="setWifiLista()"
                    [class.disabled]="btnSetWifi">{{nomeBtn}}</button>
            </section>
        </form>
    </div>
</div>
<div *ngIf="desabilitede && !ativandoWifi" style="text-align: center">
    Identificado que a interface de WiFi está desabilitada.
    <br>
    <button class="btn btn-warning" (click)="ativaInterface()">Ativar Interface</button>
</div>
<loading-component [searchWhat]="'Ativando Interface'" [searching]="ativandoWifi"></loading-component>