<div class="modal-header">
    <h4 class="modal-title">Configurações de Wifi</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <loading-component [searchWhat]="'Buscando Wifi'" [searching]="searching"></loading-component>
    <div *ngIf="wifi">
        <div class="form-group">
            <label>Status de Operação</label>
            <select class="form-control" [(ngModel)]="wifi[0].operStatus">
                <option value="Up">Up</option>
                <option value="Down">Down</option>
            </select>
        </div>
        <div class="form-group">
            <label>Usuário</label>
            <input type="text" class="form-control" [(ngModel)]="wifi[0].ssid">
        </div>
        <div class="form-group">
            <label>Canal</label>
            <input type="number" class="form-control" [(ngModel)]="wifi[0].channel">
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="text" class="form-control" [(ngModel)]="wifi[0].key">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="setWifi()" [class.disabled]="btnSetWifi">{{nomeBtn}}</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Fechar</button>
</div>