<div class="list-group">
    <label class="list-group-item">Consultas</label>
    <modal-component [nomeDoBtn]="'Consultar WAN'" [styleBtn]="'list-group-item list-group-item-action'" [disableBtn]="actived"
        [component]="'wan-component'"></modal-component>
    <modal-component [nomeDoBtn]="'Consultar Interface Statistics'" [styleBtn]="'list-group-item list-group-item-action'" [disableBtn]="actived"
        [component]="'interface-statics-component'"></modal-component>
    <modal-component [nomeDoBtn]="'Consultar LAN Host'" [styleBtn]="'list-group-item list-group-item-action'" [disableBtn]="actived"
        [component]="'lan-host-component'"></modal-component>
    <modal-component [nomeDoBtn]="'Consultar xDSL'" [styleBtn]="'list-group-item list-group-item-action'" [disableBtn]="actived"
        [component]="'xdsl-component'"></modal-component>
    <modal-component [nomeDoBtn]="'Consultar Port Mapping'" [styleBtn]="'list-group-item list-group-item-action'" [disableBtn]="actived"
        [component]="'port-mapping-component'"></modal-component>
    <modal-component [nomeDoBtn]="'Consultar SIP'" [styleBtn]="'list-group-item list-group-item-action'" [disableBtn]="actived"
        [component]="'sip-consulta-component'"></modal-component>
    <modal-component [nomeDoBtn]="'Consultar DMZ'" [styleBtn]="'list-group-item list-group-item-action'" [disableBtn]="actived"
        [component]="'dmz-component'"></modal-component>
    <modal-component [nomeDoBtn]="'Historia'" [styleBtn]="'list-group-item list-group-item-action'" [disableBtn]="actived"
        [component]="'historia-component'"></modal-component>
</div>