<div class="list-group">
    <label class="list-group-item">Consultas</label>
    <button type="button" class="list-group-item list-group-item-action" [class.disabled]="btnActive">Consultar WAN</button>
    <button type="button" class="list-group-item list-group-item-action" [class.disabled]="btnActive">Consultar Interface Statistics</button>
    <button type="button" class="list-group-item list-group-item-action" [class.disabled]="btnActive">Consultar LAN Host</button>
    <button type="button" class="list-group-item list-group-item-action" [class.disabled]="btnActive">Consultar xDSL</button>
    <button type="button" class="list-group-item list-group-item-action" [class.disabled]="btnActive">Consultar Port Mapping</button>
    <button type="button" class="list-group-item list-group-item-action" [class.disabled]="btnActive">Consultar SIP</button>
    <button type="button" class="list-group-item list-group-item-action" [class.disabled]="btnActive">Consultar DMZ</button>
    <button type="button" class="list-group-item list-group-item-action" [class.disabled]="btnActive">Historia</button>
</div>