<div class="card" *ngIf="isModem">
    <div class="card-header">
        Consultas
    </div>
    <div class="card-block">
        <div class="card-title">
            <ul class="list-unstyled">
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('wan-component','Consultar WAN')" [disabled]="!variavelHolderService.checkOnline">Consultar WAN</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('interface-statics-component','Consultar Interface Statistics')"
                        [disabled]="!variavelHolderService.checkOnline">Consultar Interface Statistics</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('lan-host-component','Consultar LAN Host')" [disabled]="!variavelHolderService.checkOnline">Consultar LAN Host</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('xdsl-component','Consultar xDSL')" [disabled]="!variavelHolderService.checkOnline">Consultar xDSL</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('port-mapping-component','Consultar Port Mapping')"
                        [disabled]="!variavelHolderService.checkOnline">Consultar Port Mapping</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('sip-get-component','Consultar SIP')" [disabled]="!variavelHolderService.checkOnline">Consultar SIP</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('dmz-component','Consultar DMZ')" [disabled]="!variavelHolderService.checkOnline">Consultar DMZ</button>
                </li>
                <li>
                    <button class="btn btn-outline btn-block padding-btn" (click)="domount('historia-component','Historia')" [disabled]="!variavelHolderService.checkOnline">Historia</button>
                </li>
            </ul>
        </div>
        <div class="card-text">

        </div>
    </div>
</div>