<table class="table table-bordere table-sm">
    <tbody>
        <tr>
            <td colspan="2" style="text-align: center;">
                <label>Equipamento</label>
            </td>
        </tr>
        <tr>
            <th>deviceGUID</th>
            <td>{{eqp.deviceGUID}}</td>
        </tr>
        <tr>
            <th>serialNumber</th>
            <td>{{eqp.serialNumber}}</td>
        </tr>
        <tr>
            <th>ipAddress</th>
            <td>{{eqp.ipAdress}}</td>
        </tr>
        <tr>
            <th>macAddress</th>
            <td>{{eqp.macAddress}}</td>
        </tr>
        <tr>
            <th>manufacturer</th>
            <td>{{eqp.manufacturer}}</td>
        </tr>
        <tr>
            <th>modelName</th>
            <td>{{eqp.modelName}}</td>
        </tr>
        <tr>
            <th>subscriberID</th>
            <td>{{eqp.subscriberID}}</td>
        </tr>
    </tbody>
</table>