<div class="margin-comp">
    <h3>Buscar Equipamentos</h3>
    <div *ngIf="eqpReady" class="row">
        <div class="col-md-4">
            <equipamento-component [equipamento]="eqp"></equipamento-component>
        </div>
        <div class="col-md-4">
            <consultas-component [actived]="variavelHolderService.checkOnline" [isModem]="isModemOrAta()"></consultas-component>
        </div>
        <div class="col-md-4">
            <acoes-component [actived]="variavelHolderService.checkOnline" [isModem]="isModemOrAta()"></acoes-component>
        </div>
    </div>
</div>