.koala-loading {
    margin: auto;
    margin-top: 50px;
    min-height: 125px;
    min-width: 125px;
    height: 125px;
    width: 125px;
    text-align: center;
    font-size: 11.5px;
}

.loading-spinner {    
    background-image: url("/assets/images/loading-gif.gif");
    background-repeat: no-repeat;
}

.loading-spinner-options {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-left: 28px;
    margin-right: 25px;
    padding: 0;
    text-indent: 100%;
    overflow: hidden;
}

.loading-md {
    min-height: 72px;
    min-width: 72px;
    height: 72px;
    width: 72px;
}