<div class="modal-header">
    <h4 class="modal-title">Consultar SIP</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>phyref</label>
        <input type="text" class="form-control" [(ngModel)]="phyref">
        <br/>
        <!-- <button class="btn btn-primary btn-block" (click)="editarTable()" *ngIf="sip">Editar Configurações</button> -->
    </div>
    <loading-component [searchWhat]="'Buscando Configurações SIP'" [searching]="searching"></loading-component>
    <table class="table table-bordered table-sm alinhar-text-center" *ngIf="sip">
        <tbody>
            <tr>
                <th>DirectoryNumber</th>
                <td>
                    <span *ngIf="!isModificarSip">{{sip.directoryNumber}}</span>
                    <input *ngIf="isModificarSip" type="text" [(ngModel)]="sip.directoryNumber" name="DirectoryNumber" class="form-control">
                </td>
            </tr>
            <tr>
                <th>AuthUserName</th>
                <td>
                    <span *ngIf="!isModificarSip">{{sip.authUserName}}</span>
                    <input *ngIf="isModificarSip" type="text" [(ngModel)]="sip.authUserName" name="AuthUserName" class="form-control">
                </td>
            </tr>
            <tr>
                <th>AuthPassword</th>
                <td>
                    <span *ngIf="!isModificarSip">{{sip.authPassword}}</span>
                    <input *ngIf="isModificarSip" type="text" [(ngModel)]="sip.authPassword" name="AuthPassword" class="form-control">
                </td>
            </tr>
            <tr>
                <th>ProxyServerPort</th>
                <td>
                    <span *ngIf="!isModificarSip">{{sip.proxyServer}}</span>
                    <input *ngIf="isModificarSip" type="text" [(ngModel)]="sip.proxyServer" name="ProxyServer" class="form-control">
                </td>
            </tr>
            <tr>
                <th>RegistrarServer</th>
                <td>
                    <span *ngIf="!isModificarSip">{{sip.registrarServer}}</span>
                    <input *ngIf="isModificarSip" type="text" [(ngModel)]="sip.registrarServer" name="RegistrarServer" class="form-control">
                </td>
            </tr>
            <tr>
                <th>UserAgentDomain</th>
                <td>
                    <span *ngIf="!isModificarSip">{{sip.userAgentDomain}}</span>
                    <input *ngIf="isModificarSip" type="text" [(ngModel)]="sip.userAgentDomain" name="UserAgentDomain" class="form-control">
                </td>
            </tr>
            <tr>
                <th>OutboundProxy</th>
                <td>
                    <span *ngIf="!isModificarSip">{{sip.outboundProxy}}</span>
                    <input *ngIf="isModificarSip" type="text" [(ngModel)]="sip.outboundProxy" name="OutboundProxy" class="form-control">
                </td>
            </tr>
            <!-- <tr>
                <th>IP Address</th>
                <td>{{sip.ipaddress}}</td>
            </tr> -->
            <tr>
                <th>Uri</th>
                <td>{{sip.uri}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{sip.status}}</td>
            </tr>
            <tr>
                <th>Codec</th>
                <td>{{sip.codec}}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{{sip.enable}}</td>
            </tr>

            <tr>
                <th>ProxyServerPort</th>
                <td>{{sip.proxyServerPort}}</td>
            </tr>

            <tr>
                <th>ProfileEnable</th>
                <td>{{sip.profileEnable}}</td>
            </tr>
            <tr>
                <th>Dtmfmethod</th>
                <td>{{sip.dtmfmethod}}</td>
            </tr>
            <tr>
                <th>LineEnable</th>
                <td>{{sip.lineEnable}}</td>
            </tr>
            <tr>
                <th>CallState</th>
                <td>{{sip.callState}}</td>
            </tr>

            <tr>
                <th>T38Enable</th>
                <td>{{sip.t38Enable}}</td>
            </tr>
            <tr>
                <th>Pacotes Perdidos</th>
                <td>{{sip.packetsLost}}</td>
            </tr>

            <tr>
                <th>ConferenceCallURI</th>
                <td>{{sip.conferenceCallURI}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-info" [class.disabled]="btnSipModificar">{{btnModificarNome}}</button> -->
    <button type="button" class="btn btn-primary" (click)="getSipDiagnostics()" [class.disabled]="btnSip">{{nomeBtn}}</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Fechar</button>
</div>