<clr-modal [(clrModalOpen)]="systemHolderService.modalactionserachopen" [clrModalStaticBackdrop]="true"
    [clrModalClosable]="false" [clrModalSize]="'xl'">
    <h3 class="modal-title">{{title}}</h3>
    <div class="modal-body">
        <div #dynamicComponentContainer></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" [disabled]="systemHolderService.btnIsLoadingAction"
            (click)="systemHolderService.modalactionserachopen = false">Fechar</button>
    </div>
</clr-modal>