<!-- <div class="container fullmarge">
    <div class="page-header">
        <h4>Bem-vindo ao </h4>
        <h1>Efika ACS Motive</h1>
        Utilize seu login e senha para entrar
    </div>
    <br>
    <form (keyup.enter)="doEntrar()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Insira seu login" [(ngModel)]="usuario.login" name="login" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Insira sua Senha" [(ngModel)]="usuario.senha" name="senha" />
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="doEntrar()">Entrar</button>

    </form>

    <br>

    <alert-component [mensagem]="mensagem" [alertOn]="ativo"></alert-component>

</div> -->

<div class="login-wrapper" (keyup.enter)="doEntrar()">
    <form class="login" (ngSubmit)="doEntrar()">
        <label class="title">
            <h3 class="welcome">Bem-Vindo ao</h3>
            Efika ACS Motive
            <h5 class="hint">Utilize seu login e senha para entrar</h5>
        </label>
        <div class="login-group">
            <input [(ngModel)]="usuario.login" class="username" type="text" id="login_username" placeholder="Usuário" name="login">
            <input [(ngModel)]="usuario.senha" class="password" type="password" id="login_password" placeholder="Senha" name="senha">
            <div class="error active" *ngIf="ativo">
                {{mensagem.msg}}
            </div>
            <button type="submit" class="btn btn-primary" [clrLoading]="logando" [disabled]="logando">Entrar</button>
        </div>
    </form>
</div>