<div>
    <div>
        <h1>Buscar Equipamentos</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <form (keyup.enter)="buscar()">
                <div class="form-group">
                    <label>Designador</label>
                    <input class="form-control" type="text" placeholder="Busca por Designador..." name="designador" [(ngModel)]="searchCond.designador">
                </div>
                <div class="form-group">
                    <label>Serial</label>
                    <input class="form-control" type="text" placeholder="Busca por Serial..." name="serial" [(ngModel)]="searchCond.serial">
                </div>
                <div class="form-group">
                    <label>MAC</label>
                    <input class="form-control" type="text" placeholder="Busca por MAC..." name="mac" [(ngModel)]="searchCond.mac">
                </div>
                <div class="form-group">
                    <label>IP</label>
                    <input class="form-control" type="text" placeholder="Busca por IP..." name="ip" [(ngModel)]="searchCond.ip">
                </div>
                <button type="button" class="btn btn-primary" (click)="buscar()" [class.disabled]="searching">{{nomeBtn}}</button>
                <button type="button" class="btn btn-default" (click)="initConditions()">Limpar</button>
            </form>
        </div>
        <div class="col-md-8">
            <!-- <table-test></table-test> -->
            <result-table-equipamento [listEqp]="listEqp" [showTable]="showTableResult"></result-table-equipamento>
            <loading-component [searchWhat]="searchWhat" [searching]="searching"></loading-component>
        </div>
    </div>
</div>