<loading-component [searchWhat]="'Buscando Lan Hosts'" [searching]="searching"></loading-component>
<div *ngIf="lanHost">
    <table class="table">
        <thead>
            <tr>
                <th>IP</th>
                <th>Fonte de Endereço</th>
                <th>Tempo Restante</th>
                <th>MAC</th>
                <th>Endereço Host</th>
                <th>Tipo</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let host of lanHost">
                <td>{{host.IPAddress}}</td>
                <td>{{host.AddressSource}}</td>
                <td>{{host.LeaseTimeRemaining}}</td>
                <td>{{host.MACAddress}}</td>
                <td>{{host.HostName}}</td>
                <td>{{host.InterfaceType}}</td>
                <td>
                    <span *ngIf="host.ativo">Ativo</span>
                    <span *ngIf="!host.ativo">Inativo</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>