<div class="card">
    <div class="card-header">
        <div *ngIf="systemHolderService.isSearchingCheckOnline || systemHolderService.isSearchingIp">
            {{systemHolderService.boxnameseewhatissearching}}
        </div>
        <div *ngIf="!systemHolderService.isSearchingCheckOnline && !systemHolderService.isSearchingIp">
            <span *ngIf="variavelHolderService.checkOnline">
                <span class="negrito">Status: </span> Ativo</span>
            <span *ngIf="!variavelHolderService.checkOnline">
                <span class="negrito">Status: </span> Inativo</span>
        </div>
    </div>
    <div class="card-block">
        <div class="card-title">
            <!-- Serial: {{equipamento.deviceId.serialNumber}} -->
        </div>
        <div class="card-text">
            <ul class="list-unstyled">
                <li>
                    <span>
                        <span class="negrito">Serial: </span> {{equipamento.deviceId.serialNumber}}
                    </span>
                </li>
                <li>
                    <span>
                        <span class="negrito">MAC: </span> {{equipamento.macAddress}}
                    </span>
                </li>
                <li>
                    <span>
                        <span class="negrito">Designador: </span> {{equipamento.subscriberID}}
                    </span>
                </li>
                <li>
                    <span>
                        <span class="negrito">Firmware: </span> {{equipamento.softwareVersion}}
                    </span>
                </li>
                <li>
                    <span>
                        <span class="negrito">Nome do Modelo: </span> {{equipamento.modelName}}
                    </span>
                </li>
                <li>
                    <span>
                        <span class="negrito">Fabricante: </span> {{equipamento.manufacturer}}
                    </span>
                </li>
                <li>
                    <span>
                        <span class="negrito">IP: </span> {{equipamento.IPAddress}}
                    </span>
                </li>
                <li>
                    <span>
                        <span class="negrito">Data de Ativação: </span> {{ ((equipamento.lastActivationTime / 1000) | amFromUnix) | amDateFormat:
                        'DD/MM/YYYY HH:mm:ss'}}
                    </span>
                </li>
                <li>
                    <span>
                        <span class="negrito">Data de Ultimo Contato: </span> {{ ((equipamento.lastContactTime / 1000) | amFromUnix) | amDateFormat:
                        'DD/MM/YYYY HH:mm:ss'}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="searchinfodevice()" *ngIf="!systemHolderService.isSearchingCheckOnline && !systemHolderService.isSearchingIp">Atualizar</button>
        <!-- <button class="btn btn-sm btn-link">Footer Action 2</button> -->
    </div>
</div>