<nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded">
    <span class="navbar-brand">ACS Motive</span>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let menu of menus" [class.active]="activeMenu(menu)">
                <a class="nav-link cursor-pointer" (click)="abreCompoent(menu)">{{menu.nome}}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <a class="dropdown-item cursor-pointer" (click)="sair()">Sair</a>
    </div>
</nav>