<div class="modal-header">
    <h4 class="modal-title">Consultar SIP</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>phyref</label>
        <input type="text" class="form-control" [(ngModel)]="phyref">
    </div>
    <loading-component [searchWhat]="'Buscando Configurações SIP'" [searching]="searching"></loading-component>
    <table class="table table-bordered table-sm alinhar-text-center" *ngIf="sip">
        <tbody>
            <tr>
                <th>Uri</th>
                <td>{{sip.uri}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{sip.status}}</td>
            </tr>
            <tr>
                <th>Codec</th>
                <td>{{sip.codec}}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{{sip.enable}}</td>
            </tr>
            <tr>
                <th>OutboundProxy</th>
                <td>{{sip.outboundProxy}}</td>
            </tr>
            <tr>
                <th>ProxyServer</th>
                <td>{{sip.proxyServer}}</td>
            </tr>
            <tr>
                <th>AuthPassword</th>
                <td>{{sip.authPassword}}</td>
            </tr>
            <tr>
                <th>ProfileEnable</th>
                <td>{{sip.profileEnable}}</td>
            </tr>
            <tr>
                <th>Dtmfmethod</th>
                <td>{{sip.dtmfmethod}}</td>
            </tr>
            <tr>
                <th>LineEnable</th>
                <td>{{sip.lineEnable}}</td>
            </tr>
            <tr>
                <th>CallState</th>
                <td>{{sip.callState}}</td>
            </tr>
            <tr>
                <th>AuthUserName</th>
                <td>{{sip.authUserName}}</td>
            </tr>
            <tr>
                <th>T38Enable</th>
                <td>{{sip.t38Enable}}</td>
            </tr>
            <tr>
                <th>Pacotes Perdidos</th>
                <td>{{sip.packetsLost}}</td>
            </tr>
            <tr>
                <th>DirectoryNumber</th>
                <td>{{sip.directoryNumber}}</td>
            </tr>
            <tr>
                <th>ConferenceCallURI</th>
                <td>{{sip.conferenceCallURI}}</td>
            </tr>
            <tr>
                <th>UserAgentDomain</th>
                <td>{{sip.userAgentDomain}}</td>
            </tr>
            <tr>
                <th>RegistrarServer</th>
                <td>{{sip.registrarServer}}</td>
            </tr>
            <tr>
                <th>ProxyServerPort</th>
                <td>{{sip.proxyServerPort}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="getSipDiagnostics()" [class.disabled]="btnSip">{{nomeBtn}}</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Fechar</button>
</div>